@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cyber-bg text-cyber-text;
  font-family: 'Arial', sans-serif; /* Basic sans-serif, can be changed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for a more cyberpunk feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #05081E; /* cyber-bg-darker */
}
::-webkit-scrollbar-thumb {
  background: #FF00FF; /* cyber-primary */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E000E0; /* cyber-hover-primary */
} 

/* 自定义颜色覆盖 */
.border-cyber-primary {
  --tw-border-opacity: 1;
  border-color: rgb(67 50 115) !important; /* 稍微调整了颜色 */
}

/* 音量播放条颜色覆盖 */
.accent-cyber-primary {
  accent-color: #372963;
}

/* Toast 动画 */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.toast-item {
  animation: fadeIn 0.3s ease-in-out, fadeOut 3s ease-in-out forwards;
}